<div class="col-sm-12 col-lg-7 mb-3">
  <div id="question-id-<%= question.id %>">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= question.content %></p>
      </div>
    </div>
  </div>
</div>
