<footer>
  <div class="information">
    <div class="text-jp">
      <%= link_to "利用規約", terms_path, class: "text-jp" %>
    </div>
    <div class="text-jp">
      <%= link_to "プライバリシーポリシー", privacy_path, class: "text-jp" %>
    </div>
    <div class="text-jp">
      <%= link_to "お問い合わせ", href="#", class: "text-jp" %>
    </div>
  </div>
  <div class="copyright text-center">
    <div class="text">© Copyright 2022. MyEmotion.</div>
  </div>
</footer>
