/* ヘッダーに関するスタイル */
.navbar {
  background-color: white;
  color: black;
}
  
.container {
  .title{
    font-family: Georgia, serif;
    color: black;
  }
  
  .nav-link {
    font-family: "YuMincho";
    color: black;
  }
}
