/* Footerに関するスタイル */
.information {
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  word-spacing: 3em;
  
  .text-jp{
    display: inline-block;
    text-decoration: none;
    font-family: "YuMincho";
    color: black;
  }
}
  
.text {
  padding-bottom: 20px;
  font-family: Georgia, serif;
  color: black;
}
