/* ヘッダーに関するスタイル */
.navbar {
  background-color: white;
  color: black;
}

.container {
  .title{
    font-family: Georgia, serif;
    color: black;
  }

  .nav-link {
    font-family: "YuMincho";
    color: black;
  }
}

/* トップページ画像に関するスタイル */

.top-wrapper {
  background-image: image-url("top01.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: Georgia, serif;
    color: black;

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

/* トップページに関するスタイル */

.expressivewriting {
  background-color: #f0e9ec;

  .title {
    font-family: Georgia, serif;
    color: black;
    font-weight: bold;
  }

  .title-jp {
    font-family: "YuMincho";
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-jp:before, .title-jp:after {
    border-top: 1px solid;
    content: "";
    width: 3em;
  }
  .title-jp:before {
    margin-right: 1em; 
  }
  .title-jp:after {
    margin-left: 1em;
  }

  .text {
    margin-top: 30px;
    font-family: "YuMincho";
    color: black;
  }

  .explanation{
    padding-top: 50px;

  }

  .way {
    padding-top: 50px ;

    .card {
      margin-top: 70px;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-left: 20px;
      height: 150px;
    }

    .card-title {
      font-family: "YuMincho";
      color: black;
      font-weight: bold;
    }

    .card-text-first {
      font-family: "YuMincho";
      color: black;
      position: absolute;
	    bottom: 30%;
	    left: 50%;
	    transform: translateX(-50%);
    }

    .card-text-second {
      font-family: "YuMincho";
      color: black;
      position: absolute;
	    bottom: 15%;
	    left: 50%;
	    transform: translateX(-50%);
    }

    .card-text-third {
      font-family: "YuMincho";
      color: black;
      position: absolute;
	    bottom: 7%;
	    left: 50%;
	    transform: translateX(-50%);
    }
  }

  .MyEmotion {
    padding-top: 70px;
    padding-bottom: 100px;

    .description {
      margin-top: 30px;
      font-family: "YuMincho";
      color: black;
    }

    .paragraph {
      margin: 4em auto;
      padding: 1em;
      width: 45%;
      border: 1px solid black; /* 枠線 */

      @media screen and (max-width: 767px) {
        margin: 2em auto;
        padding: 1em;
        width: 95%;
      }
     }

    .subtitle {
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: "YuMincho";
      font-size: x-large;
      border-bottom: 1px solid black;
	    width: 170px;
	    margin-left: auto; /* 中央寄せにするため */
	    margin-right: auto; /* 中央寄せにするため */
      color: black;
    }

    .text {
      padding-bottom: 30px;
    }
  }
}

/* Footerに関するスタイル */

.information {
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  word-spacing: 3em;

  .text-jp{
    display: inline-block;
    text-decoration: none;
    font-family: "YuMincho";
    color: black;
  }
}

.text {
  padding-bottom: 20px;
  font-family: Georgia, serif;
  color: black;
}

/* Qestionに関するスタイル */

.title {
  font-family: Georgia, serif;
  color: black;
}

.card {
  font-family: "YuMincho";
  color: black;
}

.answer {
  font-family: "YuMincho";
  color: black;
}

.login {
  font-family: Georgia, serif;
  color: black;
}

.signup{
  font-family: "YuMincho";
  color: black;
}

/* Articleに関するスタイル */

.create {
  line-height: 3.0;
  font-family: "YuMincho";
  color: black;
}

.submit {
  margin-top: 20px;
  font-family: "YuMincho";
  color: black;
}

.container {
  font-family: "YuMincho";
  color: black;

  .timer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 45px;
  }
}

.link {
  color: black;
}